*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;

}
html,
body,
#__next {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  font-family: "DM Sans", sans-serif;
  background-color: #ffffff;
}
img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  white-space: pre-line;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0px;
}